@use "./src/styles/breakpoints";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: breakpoints.$contentContainerWidth;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid var(--theme-color);
  margin-bottom: 30px;

  .logo {
    padding: 10px;
    svg {
      path {
        fill: var(--theme-color);
      }
    }
  }
  @media (max-width: breakpoints.$mobileBreakpoint) {
    flex-wrap: wrap;
  }
}
