.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  padding: 0 10%;
  border-bottom: 1px solid var(--theme-color);
  box-shadow: 3px -6px 20px 0px rgb(224 224 224)
}
