$primary-color: #1e3c35;
$secondary-color: #1e383c;
$tertiary-color: #F6ECE0;
$text-color-dark: #25211e;
$text-color-light: #77473f;
$white-color: #FFF;
$black-color: #000;
$grey-color:rgba(255,255,255,.5);
$dark-grey-color: rgba(45, 45, 45, 0.25);
$light-grey-color: rgba(211, 211, 211, 1);


$primary-color-darker: #2C423F;
$primary-color-dark: #0E1B18;