$primary-color: #1e3c35;
$secondary-color: #1e383c;
$tertiary-color: #F6ECE0;
$text-color-dark: #25211e;
$text-color-light: #77473f;
$white-color: #FFF;
$black-color: #000;



$primary-color-darker: #2C423F;
$primary-color-dark: #0E1B18;