@font-face {
  font-family: "MyIcons";
  src: url("../../src/assets/fonts/custom/fontello.eot");
  src: url("../../src/assets/fonts/custom/fontello.woff") format("woff"),
  url("../../src/assets/fonts/custom/fontello.ttf") format("opentype"),
  url("../../src/assets/fonts/custom/fontello.svg#filename") format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
$like-h1: 84px;
$like-h2: 72px;
$like-h3: 60px;
$like-h4: 48px;
$like-h5: 36px;
$like-h6: 30px;
$like-p: 18px;
$like-disclaimer: 12px;