$sizes: ("1": 10px, "2": 20px, "3": 30px, "4": 60px, "5": 100px, "6": 120px);

@each $name, $size in $sizes {
  .padding-top-#{$name} {
    padding-top: $size;
  }
  .padding-bottom-#{$name} {
    padding-bottom: $size;
  }
  .padding-right-#{$name} {
    padding-right: $size;
  }
  .padding-left-#{$name} {
    padding-left: $size;
  }
  .margin-top-#{$name} {
    margin-top: $size;
  }
  .margin-bottom-#{$name} {
    margin-bottom: $size;
  }
  .margin-right-#{$name} {
    margin-right: $size;
  }
  .margin-left-#{$name} {
    margin-left: $size;
  }
}