@use 'colors' as *;

.light {
  --theme-color: #{$secondary-color};
  --theme-page-background: #{$tertiary-color};
  --theme-page-text:  #{$text-color-dark};
}

.dark {
  --theme-color: #{$tertiary-color};
  --theme-page-background: #{$primary-color-dark};
  --theme-page-text:  #{$tertiary-color};
}
