@use "./src/styles/fonts";
@use "./src/styles/colors";
@use "./src/styles/theme";
@use "./src/styles/breakpoints";

$fonts: ("h1": fonts.$like-h1, "h2": fonts.$like-h2, "h3": fonts.$like-h3, "h4": fonts.$like-h4, "h5": fonts.$like-h5, "h6": fonts.$like-h6);

@each $name, $size in $fonts {
  #{$name}.title {
    font-size: $size;

    @media (max-width: breakpoints.$smallMobileBreakpoint) {
      font-size: calc($size * 0.75);
    }
  }
}

.title {
  position: relative;
  color: var(--theme-color);
  line-height: 1em;
  margin: 1em auto;
  width: 100%;

  &.bordered {
    position: relative;

    &:after {
      content: '';
      height: 2px;
      background-color: var(--theme-color);
      width: 100px;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }

  &.to_left {
    text-align: left;

    &.bordered {
      &:after {
        left: 0;
      }
    }
  }

  &.to_center {
    text-align: center;

    &.bordered {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.to_right {
    text-align: right;

    &.bordered {
      &:after {
        left: unset;
        right: 0;
      }
    }
  }

  @media (max-width: breakpoints.$mobileBreakpoint) {
    min-width: 100%;
  }
}

