@use './src/styles/colors' as *;

.icon {
  position: relative;
  padding: 10px;
  display: flex;
  font-family: 'MyIcons', sans-serif;

  &:before {
    font-family: 'MyIcons', sans-serif;
    font-style: normal;
    line-height: 1em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--theme-color)
  }

  &[data-icon='beer']:before {
    content: '\e802';
  }

  &[data-icon='checkmark']:before {
    content: '\e800';
  }

  &[data-icon='cancel']:before {
    content: '\e801';
  }

  &[data-icon='facebook']:before {
    content: '\e803';
  }

  &[data-icon='instagram']:before {
    content: '\e804';
  }

  &[data-icon='lock']:before {
    content: '\e805';
  }

  &[data-icon='play']:before {
    content: '\e807';
  }

  &[data-icon='twitter']:before {
    content: '\e809';
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &.small {
    width: 24px;
    height: 24px;

    &:before {
      font-size: 24px;
    }
  }


  &.medium {
    width: 36px;
    height: 36px;

    &:before {
      font-size: 36px;
    }
  }

  &.large {
    width: 50px;
    height: 50px;

    :before {
      font-size: 50px;
    }
  }

  &.black {
    color: $black-color
  }

  &.white {
    color: $white-color
  }

  &.grey {
    color: $grey-color
  }

  &.grey-dark {
    color: $dark-grey-color
  }

  &.forest {
    color: $primary-color
  }

  &.forest-dark {
    color: $primary-color-darker
  }

}