@use './src/styles/colors' as *;
@use './src/styles/icons' as *;

.icon {
  position: relative;
  padding: 10px;
  display: flex;
  font-family: 'MyIcons', sans-serif;

  &:before {
    font-family: 'MyIcons', sans-serif;
    font-style: normal;
    line-height: 1em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--theme-color)
  }

  &[data-icon='beer']:before {
    content: $beer;;
  }

  &[data-icon='checkmark']:before {
    content: $checkmark;
  }
  &[data-icon='cross']:before {
    content: $cross;
  }

  &[data-icon='cancel']:before {
    content: $cancel;
  }

  &[data-icon='facebook']:before {
    content: $facebook;
  }

  &[data-icon='instagram']:before {
    content: $instagram;
  }

  &[data-icon='lock']:before {
    content: $lock;
  }

  &[data-icon='play']:before {
    content: $play;
  }

  &[data-icon='twitter']:before {
    content: $twitter;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &.small {
    width: 30px;
    height: 30px;

    &:before {
      font-size: 24px;
    }
  }


  &.medium {
    width: 40px;
    height: 40px;

    &:before {
      font-size: 36px;
    }
  }

  &.large {
    width: 60px;
    height: 60px;

    &:before {
      font-size: 50px;
    }
  }

  &.black:before {
    color: $black-color
  }

  &.white:before {
    color: $white-color
  }

  &.grey:before {
    color: $grey-color
  }

  &.grey-dark:before {
    color: $dark-grey-color
  }

  &.forest:before {
    color: $primary-color
  }

  &.forest-dark:before {
    color: $primary-color-darker
  }

}