@import "./styles/theme";
.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: var(--theme-page-background);
  color: var(--theme-page-text);
}


