body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

/* Storybook overrides */
.docs-story .Notification_notification-bg__wuueg {
    display: none;
}

.docs-story .Notification_notification-container__WHLLM {
    position: static;
    z-index: 123;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}